---

---

<header class="h-screen w-screen bg-header bg-cover bg-right">
  <div class="h-14 bg-gradient-to-r from-transparent to-pink-500 h-full w-full">
    <div class="h-full w-full flex-col justify-end content-center">
      <span
        class="text-8xl font-mono bg-gradient-to-br from-fuchsia-500 to-rose-500 bg-clip-text text-transparent"
        >Hi, this is
      </span><br/><span
        class="text-8xl font-mono bg-gradient-to-br from-fuchsia-500 to-rose-500 bg-clip-text text-transparent"
        >a message from me</span
      >
    </div>
  </div>
</header>
